body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    border: 3px solid blue;
    border-radius: 10px;
}

.RPS_List {
    display: flex;
    gap: 50px;
}

.RPS_List li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
}

.game-buttons {
    padding: 40px;
    display: flex;
    gap: 20px;
}

.game-buttons button {
    background-color: lightblue;
    color: black;
    width: 250px;
    height: 75px;
    border-radius: 10px;
    font-size: 30px;
}


.bottom-box {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}



#output-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 600px;
    height: 50px;
    background-color: lightblue;
    border-radius: 10px;

}

#winLoseCount {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce {
    animation: bounce 0.5s ease;
}